body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div{
    /* border: 2px solid black; */
    height: 100%;
    /* flex-grow: 1; */
    flex-basis: 100%;
}


/* navigation bar */
.nav{
    display: flex;
    flex: 0;
    padding-bottom: 24px;
    background-color: #1F2937;
}
.nav-header-logo{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}
.nav-links{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #E5E7EB;
}



/* title section */
.title{
    display: flex;
    gap: 48px;
    background-color: #1F2937;
    padding: 40px 120px;
}

.title-aside h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.title-aside p{
    font-size: 16px;
    color: #E5E7EB;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title-aside button{
    background-color: #3882F6;
    border-radius: 6px;
    color: #E5E7EB;
    padding: 4px 16px;
    font-size: 16px;
    margin-top: 8px;
}

.title-image{
    display: flex;
    color: #E5E7EB;
    width: 0px;
    height: 120px;
    background-color: #474c56;
    align-items: center;
    justify-content: center;
    align-self: center;
}



/* Information section */
.info{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 200px;
}
.info .container{
    display: flex;
}

.info .container .item{
    display: flex;
    flex-direction: column;
}

.info .container .item .image{
    align-self: center;
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 120px;
    flex-basis: 120px;
    margin-bottom: 0px;
}

.item p{
    /* max-width: 180px; */
    margin-top: 0px;
    padding: 0 40px;
}



/* Quote section */
.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 40px 240px;
}
.quote h1{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    margin-bottom: 0px;
}
.quote p{
    font-size: 18px;
    text-align: right;
    font-weight: 900;
    margin-top: 0px;
    padding-right: 50px;
}




/* sign-up section */
.sign-up{
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 60px 180px;
    padding: 30px 60px;
}
.sign-up-container-text{
    display: flex;
    flex-direction: column;
    margin-right: -250px;
    /* justify-content: center; */
    /* padding: 80px 80px; */
}
.sign-up-container-text h1{
    margin-bottom: 0px;
}
.sign-up-container-text p{
    margin-top: 0px;
}
.sign-up-button{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 100px;
}

.sign-up-button button{
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    padding: 4px 18px;
    border-radius: 4px;
}
