body{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}



/* navigation bar */
.nav{
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    padding-top: 12px;
}
.nav-header-logo{
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}
.nav-links{
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #E5E7EB;
}



/* title section */
.title{
    display: flex;
    gap: 48px;
    background-color: #1F2937;
    justify-content: center;
    padding: 140px 0px;
}
.title-aside{
    flex-basis: 40%;
}

.title-aside h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

.title-aside p{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 20px;
}

.title-aside button{
    background-color: #3882F6;
    border-radius: 6px;
    color: #E5E7EB;
    padding: 4px 24px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
}

.title-image{
    display: flex;
    flex-basis: 30%;
    color: #E5E7EB;
    text-align: center;
    background-color: #474c56;
    justify-content: center;
    align-items: center;
}



/* Information section */
.info{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 0px 60px;
}
.info .container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.info .container .item{
    display: flex;
    flex-direction: column;
}

.info .container .item .image{
    align-self: center;
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 120px;
    flex-basis: 120px;
    margin-bottom: 0px;
}

.item p{
    max-width: 180px;
    margin-top: 0px;
}



/* Quote section */
.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 80px 240px;
}
.quote h1{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    margin-bottom: 0px;
}
.quote p{
    font-size: 18px;
    text-align: right;
    font-weight: 900;
    margin-top: 0px;
    padding-right: 50px;
}




/* sign-up section */
.sign-up{
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 80px 160px;
    border-radius: 8px;
    justify-content: space-around;
    padding: 40px 40px;
}
.sign-up-container-text{
    display: flex;
    flex-direction: column;
}
.sign-up-container-text h1{
    margin-bottom: 0px;
}
.sign-up-container-text p{
    margin-top: 0px;
}
.sign-up-button{
    display: flex;
    align-items: center;
    justify-content: right;
}

.sign-up-button button{
    font-size: 18px;
    font-weight: 600;
    background-color: #3882F6;
    border: 3px solid #F9FAF8;
    color: #F9FAF8;
    padding: 4px 18px;
    border-radius: 6px;
}




/* footer section */
.footer{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
